<!doctype html>
<html>

<head>
  <title>Gym App - Strona Główna</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <style>
    body {
      padding-top: 80px;
    }
    p {
      margin-bottom: 5px;
    }
    #background {
      background-color: #a8a8a8;
    }
  </style>
</head>

<body>
  <div class="container d-flex justify-content-center">

    <div class="jumbotron text-center" id="background">
      <h1>Zaplanuj swój trening z <br />moją aplikacją</h1>

      <p><a href="/login" class="btn btn-default">Zaloguj się</a> </p>
      <p>lub</p>
      <p><a href="/signup" class="btn btn-default"> Zarejestruj się</a></p>


    </div>

  </div>
</body>

</html>
